<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Winku Social Network Toolkit</title>
    <link rel="icon" href="{% static 'post/images/fav.png' %}" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{% static 'post/css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'post/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'post/css/color.css' %}">
    <link rel="stylesheet" href="{% static 'post/css/responsive.css' %}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Workshop Django</h1>
						<p>
							Learn Django Basics !
						</p>
						<div class="friend-logo">
							<span><img src="{% static 'post/images/wink.png' %}" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">Follow Us on</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Register</h2>

						<form method="post" action="{% url 'register' %}">
							{% csrf_token %}
							{{ form.as_p }}
							<a href="{% url 'login' %}" title="" class="already-have">Already have an account ?</a>
							<div class="submit-btns">
								<button class="mtr-btn signup" type="submit"><span>Register</span></button>
							</div>
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'post/js/main.min.js' %}"></script>
	<script src="{% static 'post/js/script.js' %}"></script>

</body>

</html>