{% extends 'artists/base.html' %}

{% block main %}
	<!-- Post -->
	<section class="post">
		<header class="major">
			<span class="date">April 25, 2021</span>
			<h1>Upload a<br />
				Song</h1>
		</header>
		<form method="post" action="{% url 'app:upload_post' %}" enctype="multipart/form-data">
			<table class="small box">
				{{ form.as_p }}
				{% csrf_token %}
			</table>
			<input type="submit" value="Submit" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</section>
{% endblock %}